body {
    font-family: 'Lato', sans-serif;
}

#submitted {
    visibility: hidden;
    background: #d2def2;
    margin: auto;
    width: 15%;
    padding: 10px;
}

#quiz {
    background: #d2def2;
    margin: auto;
    width: 15%;
    padding: 10px;
}

#Sample_quiz_heading {
    background: #d2def2;
    margin: auto;
    width: 15%;
    padding: 10px;
}

#quiz_div {
    visibility: hidden;
}

#article_div {
    margin-left: 10px;
    background: #d2def2;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    float: left;
}

#next_button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}

#next_button:hover {
    background: green;
    border: 1px solid green;
    color: white;
    cursor: pointer;
}

#fin {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}

#fin:hover {
    background: green;
    border: 1px solid green;
    color: white;
    cursor: pointer;
}

#q1, #q2, #q3, #q4 {
    width: 200px;
}